## Importing and Organizing Your Data in Python - Part II

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

In [1]:
from pandas_datareader import data as wb
F = wb.DataReader('F', data_source='yahoo', start='2005-1-1')
F

             High    Low   Open  Close      Volume  Adj Close
Date
2005-01-03  14.75  14.51  14.66  14.71   9852200.0  10.248210
2005-01-04  14.75  14.59  14.71  14.66   9035400.0  10.213379
2005-01-05  14.66  14.42  14.63  14.43  11376200.0  10.053140
2005-01-06  14.52  14.37  14.40  14.45   6672600.0  10.067073
2005-01-07  14.65  14.45  14.48  14.65  11452500.0  10.206412
2005-01-10  14.59  14.48  14.49  14.55  10033300.0  10.136740
2005-01-11  14.55  14.35  14.55  14.43  10201700.0  10.053140
2005-01-12  14.45  14.24  14.43  14.32  15451200.0   9.976505
2005-01-13  14.34  14.04  14.34  14.08  11036500.0   9.809300
2005-01-14  14.15  14.01  14.04  14.06   9362300.0   9.795369
2005-01-18  14.15  13.91  13.96  14.08  10296500.0   9.809300
2005-01-19  14.27  13.92  14.08  13.93   6560200.0   9.704795
2005-01-20  13.75  13.40  13.55  13.46  14965100.0   9.377357
2005-01-21  13.46  13.10  13.46  13.11  12369700.0   9.133518
2005-01-24  13.30  13.05  13.12  13.07  10804700.0   9.105650
2005-01-25  13.42  13.07  13.07  13.23  11581200.0   9.217121
2005-01-26  13.36  13.17  13.28  13.35   7424200.0   9.371559
2005-01-27  13.31  13.17  13.26  13.19   6295200.0   9.259239
2005-01-28  13.25  13.04  13.15  13.14   9261100.0   9.224140
2005-01-31  13.29  13.11  13.25  13.17   6976900.0   9.245201
2005-02-01  13.28  13.01  13.27  13.08   9248000.0   9.182022
2005-02-02  13.38  13.08  13.18  13.27   7073200.0   9.315397
2005-02-03  13.25  13.06  13.17  13.11   8963300.0   9.203080
2005-02-04  13.26  13.15  13.21  13.22   7186000.0   9.280299
2005-02-07  13.54  13.24  13.29  13.42   8965600.0   9.420699
2005-02-08  13.44  13.15  13.39  13.16   9651200.0   9.238180
2005-02-09  13.19  13.04  13.10  13.12   8383100.0   9.210101
2005-02-10  13.21  13.06  13.11  13.10   7250200.0   9.196063
2005-02-11  13.19  13.04  13.09  13.06   8416800.0   9.167981
2005-02-14  13.20  13.04  13.12  13.10   6266800.0   9.196063
...           ...    ...    ...    ...         ...        ...
2018-12-20   8.42   8.18   8.33   8.26  58926200.0   8.118562
2018-12-21   8.40   8.04   8.22   8.05  57542300.0   7.912158
2018-12-24   8.01   7.61   8.01   7.63  38709500.0   7.499350
2018-12-26   7.86   7.41   7.73   7.85  58810000.0   7.715582
2018-12-27   7.85   7.53   7.82   7.85  49813000.0   7.715582
2018-12-28   8.04   7.76   7.83   7.81  47331700.0   7.676267
2018-12-31   7.86   7.50   7.85   7.65  57816000.0   7.519007
2019-01-02   8.02   7.48   7.53   7.90  47494400.0   7.764726
2019-01-03   7.99   7.78   7.97   7.78  39172400.0   7.646781
2019-01-04   8.12   7.85   7.91   8.08  43039800.0   7.941644
2019-01-07   8.37   8.03   8.11   8.29  40729400.0   8.148048
2019-01-08   8.54   8.35   8.42   8.37  45644000.0   8.226678
2019-01-09   8.77   8.36   8.45   8.72  48404900.0   8.570685
2019-01-10   8.77   8.45   8.71   8.67  39490400.0   8.521542
2019-01-11   8.93   8.70   8.77   8.82  41559900.0   8.668972
2019-01-14   9.06   8.76   8.80   8.99  44833800.0   8.836061
2019-01-15   9.03   8.75   9.02   8.84  65311700.0   8.688630
2019-01-16   8.77   8.26   8.68   8.29  73869900.0   8.148048
2019-01-17   8.44   8.21   8.27   8.36  56722600.0   8.216849
2019-01-18   8.60   8.33   8.39   8.58  51127900.0   8.433083
2019-01-22   8.61   8.46   8.54   8.50  47182600.0   8.354452
2019-01-23   8.54   8.28   8.54   8.34  45196900.0   8.197192
2019-01-24   8.68   8.22   8.32   8.60  79516400.0   8.452740
2019-01-25   8.96   8.73   8.74   8.86  53098800.0   8.708287
2019-01-28   8.80   8.58   8.80   8.66  42116300.0   8.511712
2019-01-29   8.79   8.62   8.71   8.76  30485000.0   8.610001
2019-01-30   8.72   8.52   8.66   8.71  29906100.0   8.710000
2019-01-31   8.82   8.60   8.62   8.80  39389100.0   8.800000
2019-02-01   8.81   8.62   8.77   8.72  34122000.0   8.720000
2019-02-04   8.70   8.59   8.70   8.70  28798024.0   8.700000

[3546 rows x 6 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Yahoo Finance for Ford starting from the 1st of January 2005 until today).

In [2]:
F.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3546 entries, 2005-01-03 to 2019-02-04
Data columns (total 6 columns):
High         3546 non-null float64
Low          3546 non-null float64
Open         3546 non-null float64
Close        3546 non-null float64
Volume       3546 non-null float64
Adj Close    3546 non-null float64
dtypes: float64(6)
memory usage: 193.9 KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [3]:
F.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2005-01-03  14.75  14.51  14.66  14.71   9852200.0  10.248210
2005-01-04  14.75  14.59  14.71  14.66   9035400.0  10.213379
2005-01-05  14.66  14.42  14.63  14.43  11376200.0  10.053140
2005-01-06  14.52  14.37  14.40  14.45   6672600.0  10.067073
2005-01-07  14.65  14.45  14.48  14.65  11452500.0  10.206412

In [4]:
F.tail()

            High   Low  Open  Close      Volume  Adj Close
Date
2019-01-29  8.79  8.62  8.71   8.76  30485000.0   8.610001
2019-01-30  8.72  8.52  8.66   8.71  29906100.0   8.710000
2019-01-31  8.82  8.60  8.62   8.80  39389100.0   8.800000
2019-02-01  8.81  8.62  8.77   8.72  34122000.0   8.720000
2019-02-04  8.70  8.59  8.70   8.70  28798024.0   8.700000

In [5]:
F.head(20)

             High    Low   Open  Close      Volume  Adj Close
Date
2005-01-03  14.75  14.51  14.66  14.71   9852200.0  10.248210
2005-01-04  14.75  14.59  14.71  14.66   9035400.0  10.213379
2005-01-05  14.66  14.42  14.63  14.43  11376200.0  10.053140
2005-01-06  14.52  14.37  14.40  14.45   6672600.0  10.067073
2005-01-07  14.65  14.45  14.48  14.65  11452500.0  10.206412
2005-01-10  14.59  14.48  14.49  14.55  10033300.0  10.136740
2005-01-11  14.55  14.35  14.55  14.43  10201700.0  10.053140
2005-01-12  14.45  14.24  14.43  14.32  15451200.0   9.976505
2005-01-13  14.34  14.04  14.34  14.08  11036500.0   9.809300
2005-01-14  14.15  14.01  14.04  14.06   9362300.0   9.795369
2005-01-18  14.15  13.91  13.96  14.08  10296500.0   9.809300
2005-01-19  14.27  13.92  14.08  13.93   6560200.0   9.704795
2005-01-20  13.75  13.40  13.55  13.46  14965100.0   9.377357
2005-01-21  13.46  13.10  13.46  13.11  12369700.0   9.133518
2005-01-24  13.30  13.05  13.12  13.07  10804700.0   9.105650
2005-01-25  13.42  13.07  13.07  13.23  11581200.0   9.217121
2005-01-26  13.36  13.17  13.28  13.35   7424200.0   9.371559
2005-01-27  13.31  13.17  13.26  13.19   6295200.0   9.259239
2005-01-28  13.25  13.04  13.15  13.14   9261100.0   9.224140
2005-01-31  13.29  13.11  13.25  13.17   6976900.0   9.245201

In [6]:
F.tail(20)

            High   Low  Open  Close      Volume  Adj Close
Date
2019-01-07  8.37  8.03  8.11   8.29  40729400.0   8.148048
2019-01-08  8.54  8.35  8.42   8.37  45644000.0   8.226678
2019-01-09  8.77  8.36  8.45   8.72  48404900.0   8.570685
2019-01-10  8.77  8.45  8.71   8.67  39490400.0   8.521542
2019-01-11  8.93  8.70  8.77   8.82  41559900.0   8.668972
2019-01-14  9.06  8.76  8.80   8.99  44833800.0   8.836061
2019-01-15  9.03  8.75  9.02   8.84  65311700.0   8.688630
2019-01-16  8.77  8.26  8.68   8.29  73869900.0   8.148048
2019-01-17  8.44  8.21  8.27   8.36  56722600.0   8.216849
2019-01-18  8.60  8.33  8.39   8.58  51127900.0   8.433083
2019-01-22  8.61  8.46  8.54   8.50  47182600.0   8.354452
2019-01-23  8.54  8.28  8.54   8.34  45196900.0   8.197192
2019-01-24  8.68  8.22  8.32   8.60  79516400.0   8.452740
2019-01-25  8.96  8.73  8.74   8.86  53098800.0   8.708287
2019-01-28  8.80  8.58  8.80   8.66  42116300.0   8.511712
2019-01-29  8.79  8.62  8.71   8.76  30485000.0   8.610001
2019-01-30  8.72  8.52  8.66   8.71  29906100.0   8.710000
2019-01-31  8.82  8.60  8.62   8.80  39389100.0   8.800000
2019-02-01  8.81  8.62  8.77   8.72  34122000.0   8.720000
2019-02-04  8.70  8.59  8.70   8.70  28798024.0   8.700000

Practice extracting adjusted closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use Google to find the tickers of these companies, if you don’t already know them.

In [7]:
import pandas as pd

In [8]:
tickers = ['AAPL', 'MSFT', 'XOM', 'BP']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='2005-1-1')['Adj Close']

In [9]:
new_data.tail()

                  AAPL        MSFT        XOM         BP
Date
2019-01-29  154.679993  102.940002  71.510002  40.200001
2019-01-30  165.250000  106.379997  72.290001  40.669998
2019-01-31  166.440002  104.430000  73.279999  41.119999
2019-02-01  166.520004  102.779999  75.919998  41.340000
2019-02-04  171.250000  105.739998  74.820000  41.389999

*****

Repeat this exercise for any stock of interest to you. :)