In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('D:/Python/PG_BEI.DE_2007_2017.csv', index_col='Date')

In [3]:
sec_data.tail()

                   PG     BEI.DE
Date
2017-03-17  89.605492  87.559509
2017-03-20  89.822121  87.440437
2017-03-21  89.792580  87.202278
2017-03-22  89.595642  86.983986
2017-03-23  89.379013  87.470207

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011024
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000830
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019618
2007-01-26 -0.000925  0.000208
2007-01-29  0.000308  0.013051
2007-01-30 -0.004480  0.026202
2007-01-31  0.004325  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001705 -0.000391
2007-02-08  0.001705 -0.010618
2007-02-09 -0.002480  0.001778
2007-02-12 -0.004200 -0.000987
2007-02-13  0.008536  0.001381
2007-02-14  0.002624  0.012934
...              ...       ...
2017-02-09  0.003842  0.004491
2017-02-10 -0.007926 -0.015569
2017-02-13  0.003857  0.006447
2017-02-14 -0.005109 -0.004891
2017-02-15  0.036433  0.004296
2017-02-16 -0.003628 -0.003459
2017-02-17  0.003299  0.024200
2017-02-21  0.006347 -0.008198
2017-02-22 -0.002512  0.021521
2017-02-23 -0.003396 -0.000806
2017-02-24 -0.000878 -0.003461
2017-02-27 -0.001759  0.000693
2017-02-28  0.001978 -0.005327
2017-03-01  0.006458  0.007404
2017-03-02 -0.008216 -0.001384
2017-03-03 -0.004520 -0.003816
2017-03-06 -0.001437  0.003932
2017-03-07 -0.000886 -0.006368
2017-03-08 -0.001663 -0.005941
2017-03-09  0.002216  0.011501
2017-03-10  0.008048  0.000693
2017-03-13  0.002632 -0.001039
2017-03-14 -0.003401  0.010688
2017-03-15  0.004386 -0.001716
2017-03-16  0.000437  0.005937
2017-03-17 -0.004824  0.004430
2017-03-20  0.002415 -0.001361
2017-03-21 -0.000329 -0.002727
2017-03-22 -0.002196 -0.002506
2017-03-23 -0.002421  0.005574

[2574 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.00025104897045418687

In [7]:
sec_returns['PG'].mean() * 250

0.062762242613546723

In [8]:
sec_returns['PG'].std()

0.0111619032657211

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17648518671075156

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00026921457170927062

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.06730364292731765

In [12]:
sec_returns['BEI.DE'].std()

0.014258683507114201

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.22544958158979278

***

In [14]:
print sec_returns['PG'].mean() * 250
print sec_returns['BEI.DE'].mean() * 250

0.0627622426135
0.0673036429273

In [15]:
sec_returns['PG', 'BEI.DE'].mean() * 250

KeyError: ('PG', 'BEI.DE')

In [ ]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

In [16]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.176485
BEI.DE    0.225450
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [17]:
PG_var = sec_returns['PG'].var() 
PG_var

0.00012458808451331537

In [18]:
BEI_var = sec_returns['BEI.DE'].var() 
BEI_var

0.0002033100553560505

In [19]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.031147021128328841

In [20]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.050827513839012628

***

In [21]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000125  0.000041
BEI.DE  0.000041  0.000203

In [22]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.031147  0.010300
BEI.DE  0.010300  0.050828

***

In [23]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.257455
BEI.DE  0.257455  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [24]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [25]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.025643487050316736

Portfolio Volatility:

In [26]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.16013583936869577

In [27]:
print str(round(pfolio_vol, 5) * 100) + ' %'

16.014 %