## Calculating Portfolio Risk

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from *MSFT_AAPL_2000_2017.csv*.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('D:/Python/MSFT_AAPL_2000_2017.csv', index_col='Date')

In [3]:
sec_data.tail()

                 MSFT        AAPL
Date
2017-03-17  64.158463  138.869217
2017-03-20  64.217804  140.327454
2017-03-21  63.505699  138.720413
2017-03-22  64.316704  140.287766
2017-03-23  64.158463  139.791763

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
2000-01-10  0.007264 -0.017745
2000-01-11 -0.025946 -0.052505
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104069
2000-01-14  0.040335  0.037405
2000-01-18  0.026918  0.034254
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034007 -0.018545
2000-01-27 -0.006309 -0.001703
2000-01-28 -0.005076 -0.079191
2000-01-31 -0.003824  0.020694
2000-02-01  0.050431 -0.034317
2000-02-02 -0.020859 -0.014443
2000-02-03  0.027516  0.044534
2000-02-04  0.027953  0.044373
2000-02-07  0.000587  0.054615
2000-02-08  0.030593  0.007098
2000-02-09 -0.055521 -0.019781
2000-02-10  0.019048  0.007739
2000-02-11 -0.058894 -0.042751
...              ...       ...
2017-02-09  0.011303  0.007200
2017-02-10 -0.000937 -0.002268
2017-02-13  0.011187  0.008816
2017-02-14  0.003724  0.012896
2017-02-15 -0.000620  0.003622
2017-02-16 -0.000155 -0.001181
2017-02-17  0.001549  0.002730
2017-02-21 -0.002014  0.007195
2017-02-22 -0.002018  0.002995
2017-02-23  0.004032 -0.004239
2017-02-24  0.000000  0.000952
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014425 -0.005955
2017-03-03  0.003742  0.005883
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004008 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542

[4334 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.00011508712580239387

In [7]:
sec_returns['MSFT'].mean() * 250

0.028771781450598468

In [8]:
sec_returns['MSFT'].std()

0.019656948849403635

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.31080365106770819

## Apple

In [10]:
sec_returns['AAPL'].mean()

0.00086434204919035766

In [11]:
sec_returns['AAPL'].mean() * 250

0.2160855122975894

In [12]:
sec_returns['AAPL'].std()

0.027761934312069407

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.43895472339059544

***

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.028772
AAPL    0.216086
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.310804
AAPL    0.438955
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000386  0.000218
AAPL  0.000218  0.000771

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.096599  0.054592
AAPL  0.054592  0.192681

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.400153
AAPL  0.400153  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.099616228705460552

Portfolio Volatility:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.31562038702444517

In [22]:
print str(round(pfolio_vol, 5) * 100) + ' %'

31.562 %