## Calculating Covariance and Correlation

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
sec_data = pd.read_csv('D:/Python/Walmart_FB_2014_2017.csv', index_col='Date')

In [3]:
sec_data.head()

                  WMT         FB
Date
2013-12-31  71.126411  54.650002
2014-01-02  71.325287  54.709999
2014-01-03  71.090279  54.560001
2014-01-06  70.692558  57.200001
2014-01-07  70.909485  57.919998

In [4]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT        FB
Date
2013-12-31       NaN       NaN
2014-01-02  0.002792  0.001097
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
2014-01-08 -0.007934  0.005338
2014-01-09  0.003335 -0.017497
2014-01-10 -0.000640  0.012504
2014-01-13 -0.007073 -0.035665
2014-01-14  0.006047  0.032207
2014-01-15 -0.003856 -0.002428
2014-01-16 -0.011657 -0.007143
2014-01-17 -0.007453 -0.015685
2014-01-21 -0.004604  0.038503
2014-01-22 -0.006482 -0.017239
2014-01-23 -0.005189 -0.015420
2014-01-24 -0.007230 -0.039256
2014-01-27 -0.003635 -0.016667
2014-01-28  0.006988  0.029260
2014-01-29 -0.007663 -0.029633
2014-01-30  0.008734  0.131942
2014-01-31 -0.000937  0.024101
2014-02-03 -0.027421 -0.017574
2014-02-04  0.000963  0.020447
2014-02-05  0.001923 -0.008964
2014-02-06 -0.000686 -0.000482
2014-02-07  0.012690  0.034159
2014-02-10  0.000135 -0.012044
2014-02-11  0.014001  0.020250
2014-02-12  0.002137 -0.006187
...              ...       ...
2017-02-27 -0.009020  0.007136
2017-02-28 -0.011355 -0.006398
2017-03-01 -0.006790  0.013775
2017-03-02  0.004391 -0.004814
2017-03-03 -0.010370  0.002993
2017-03-06 -0.002144  0.001821
2017-03-07 -0.000143 -0.000874
2017-03-08  0.006324  0.003054
2017-03-09  0.000859  0.003769
2017-03-10  0.003430  0.003971
2017-03-13 -0.002142  0.005819
2017-03-14  0.010948 -0.002008
2017-03-15 -0.001982  0.002867
2017-03-16 -0.001986  0.001931
2017-03-17 -0.007839 -0.001072
2017-03-20  0.001287  0.000715
2017-03-21 -0.001144 -0.010271
2017-03-22  0.004995  0.007767
2017-03-23 -0.005567 -0.000430
2017-03-24 -0.003585  0.005788
2017-03-27  0.000718 -0.000142
2017-03-28  0.009430  0.010210
2017-03-29  0.005955  0.006259
2017-03-30  0.011944 -0.001684
2017-03-31  0.006821 -0.002531
2017-04-03 -0.003474  0.001618
2017-04-04  0.002503 -0.003873
2017-04-05 -0.005012  0.000846
2017-04-06 -0.003075 -0.004805
2017-04-07  0.020371 -0.002766

[824 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [5]:
returns[['WMT', 'FB']].mean() * 250

WMT    0.003551
FB     0.287439
dtype: float64

In [6]:
returns[['WMT', 'FB']].std() * 250 ** 0.5

WMT    0.177607
FB     0.287726
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [7]:
cov_matrix = returns.cov()
cov_matrix

          WMT        FB
WMT  0.000126  0.000035
FB   0.000035  0.000331

In [8]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

          WMT        FB
WMT  0.031544  0.008777
FB   0.008777  0.082786

***

In [9]:
corr_matrix = returns.corr()
corr_matrix

          WMT        FB
WMT  1.000000  0.171746
FB   0.171746  1.000000

Would you consider investing in such a portfolio?